html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    color: white;
    font-family: "Montserrat", sans-serif;
    background-color: black;
    max-width: 1600px;
}

.round_logo,
.round_logo2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -745px;
    transition: all .2s ease-in-out;
}

.round_logo:hover,
.round_logo2:hover {
    transform: scale(1.1);
    filter: brightness(120%);
}

.round_logo2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -96px;
    margin-right: 693px;
}

.navbar2 {
    overflow: hidden;
    background-color: rgb(117, 23, 23);
    color: white;
    padding: 10px;
    font-size: 12px;
}

.welcome {
    margin-left: 57px;
}

.navbar {
    overflow: hidden;
    display: flex;
    background-color: rgb(30, 30, 30);
    left: 400px;
    padding: 10px;
}

.navbar a {
    float: left;
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 14px 55px;
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(150, 0, 0);
    transition: 1s;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 55px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(30, 30, 30);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color: rgb(150, 0, 0);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.img_header {
    height: auto;
    width: auto;
}

.texto_head {
    align-items: center;
    height: 30em;
    padding: 150px 0 0 50px;
}

.texto_head h1 {
    width: 60%;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 50px;
    margin: 0 0 10px 0;
    padding: 0;
}

.news_tag {
    display: inline-block;
    font-size: 12px;
    margin: 0 0 10px 0;
    padding: 0px 11px 0 10px;
    text-transform: uppercase;
    background-color: rgb(150, 0, 0);
    font-weight: bold;
}

.head_pequeno {
    width: 50%;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin: 0 0 30px 0;
    padding: 0;
}

.home-bottom {
    content: "";
    clear: both;
    display: table;
    margin-top: 90px;
    margin-left: 40px;
}

.three-v {
    float: left;
    padding: 0 20px 0 0;
    position: relative;
}

.text-block {
    font-size: 12px;
    position: absolute;
    top: 2px;
    background-color: black;
    opacity: 0.5;
    color: white;
    padding: 0 20px 0 20px;
}

.tabelas {
    margin-left: 40px;
    margin-top: 5%;
}

.tabela {
    border: 1px solid grey;
}

.tabelas .tabela {
    table-layout: fixed;
    width: 900px;
}

.texto-box {
    margin-left: -350px;
}

.check {
    margin-left: 400px;
    color: white;
    text-decoration: none;
}

.seta {
    margin-left: 10px;
    font-size: 18px;
}

.prev-match {
    position: relative;
    float: right;
    margin-top: -870px;
    border: 1px solid grey;
    text-align: center;
    width: 30%;
}

.prev-match a {
    text-decoration: none;
}

.match-highlights {
    font-size: 14px;
    width: 100%;
    text-align: center;
}

.watch-now {
    text-align: center;
    font-size: 14px;
    ;
    background-color: darkred;
    color: white;
    padding: 1px 10px 1px 10px;
    width: 20%;
    height: auto;
    margin: 0 auto;
    position: relative;
    text-decoration: none;
}

.latest-match {
    position: relative;
    top: -860px;
    margin-left: 1020px;
}

.icons-pequenos {
    content: "";
    clear: both;
    position: relative;
    float: right;
    margin-top: 90px;
    padding-bottom: 5%;
    margin-right: 40px;
}

.mini-box {
    float: left;
    position: relative;
    border: 2px solid whitesmoke;
    margin-left: 10px;
}

.jogo {
    margin-left: 40px;
}

.jogo img {
    margin-top: 40px;
}

.jogo h1 {
    font-size: 40px;
}

.tabelas2 {
    margin-left: 40px;
}

.tabela2 {
    border: 1px solid grey;
}

.tabelas2 .tabela2 {
    table-layout: fixed;
    width: 900px;
}

.roster {
    margin-top: 150px;
    margin-left: 40px;
}

.nav-right {
    margin-left: 30%;
}

.About img {
    display: block;
    margin-top: 500px;
    margin-right: auto;
    margin-left: auto;
}

.imgUser img {
    position: relative;
    float: right;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user {
    position: fixed;
    right: 2%;
    top: 5%;
}

.user a {
    margin-right: 20px;
    float: right;
    padding: 5px 5px 5px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serifs;
    font-size: 10px;
    text-decoration: none;
    color: white;
}

#itemsInCart {
    color: white;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

#precoTotal {
    color: white;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.shopCart {
    position: fixed;
    z-index: 10;
    bottom: 50%;
    right: 2%;
    text-align: center;
}

.shopCart img {
    width: 30px;
}

.merchContainer {
    margin-top: 5%;
    width: 100%;
    height: 400px;
}

.artigo {
    position: relative;
    float: left;
    width: 33%;
}

.artigo img {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 1%;
}

.artigo input {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 20%;
    margin-bottom: 1%;
}

.formRegistar {
    text-align: center;
    margin-top: 1%;
}

.formRegistar input {
    margin-top: 10px;
    margin-bottom: 30px;
}

.partners-bottom {
    content: "";
    clear: both;
    display: table;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

.foot-part {
    float: left;
    padding: 0 60px 0 0;
    position: relative;
}

.sub-footer {
    max-width: 1600px;
    background-color: rgb(30, 30, 30);
    margin-top: 50px;
    height: 200px;
}

.sub-img {
    margin-top: 40px;
    margin-left: 80px;
    opacity: 0.7;
}

.navigation {
    margin-left: 20px;
}

.navigation dt {
    padding: 0 0 10px 0;
}

.navigation h3 {
    color: gray;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.navigation a:hover {
    color: darkred;
    transition: 1s;
}

.sub-square {
    border-left: 1px solid grey;
    margin-left: 350px;
    margin-top: -160px;
}

.information {
    margin-left: 20px;
}

.information dt {
    padding: 0 0 10px 0;
}

.information h3 {
    color: gray;
}

.information a {
    color: white;
    text-decoration: none;
}

.information a:hover {
    color: darkred;
    transition: 1s;
}

.sub-square2 {
    border-left: 1px solid grey;
    margin-left: 660px;
    margin-top: -150px;
}
